/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 10vh auto;
  background-color: hsl(var(--cl-body-bg));
}