:root {
  --cl-body-bg: 209, 96%, 56%;
  --cl-button-bg: 39, 93%, 63%;
  --cl-button-bg-hover: 326, 99%, 71%;
  --cl-card-slot: 0, 0%, 8%;
  --cl-result: 185, 23%, 91%;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */
body {
  color: hsl(var(--cl-result));
  font-family: "Press Start 2P", cursive;
  line-height: 1.5;
  min-height: 100vh;
  background-image: url("./images/poker-table.jpg");
  background-color: hsl(var(--cl-body-bg));
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
}

/* ---------------- UTILITY CLASSES ------------------*/

.flex {
  display: flex;
}

/* ----------------- TYPOGRAPHY ------------------- */

h2 {
  font-size: 1.75rem;
} 

@media (width > 42rem) {
  h2 {
    font-size: 2.125rem;
  } 
}

@media (width > 60rem) {
  h2 {
    font-size: 2.5rem;
  } 
}

/* ----------------- BUTTONS ------------------- */

button {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  cursor: pointer;
  background-color: hsl(var(--cl-button-bg));
  border-radius: 0.25rem;
}

@media (width > 60rem) {
  button {
    font-size: 1.375rem;
    padding: 1.5rem;
  }
}

button:hover,
button:focus-visible {
  background-color: hsl(var(--cl-button-bg-hover));
}

.new-deck-btn {
  align-self: flex-start;
}

.draw-cards-btn {
  width: 100%;
}

/* ---------------- LAYOUT -------------------- */

.container {
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.result {
  text-align: center;
}

.cards {
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

@media (width > 42rem) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }
}

.card {
  width: 100%;
  height: 100%;
}

.card-slot {
  width: 12.5rem;
  height: calc(12.5rem * 7 / 5);
  border: 2px solid hsl(var(--cl-card-slot));
  border-radius: 0.625rem;
}

@media (width > 42rem) {
  .card-slot {
    width: 14.125rem;
    height: calc(14.125rem * 7 / 5);
  }
}

@media (width > 60rem) {
  .card-slot {
    width: 16rem;
    height: calc(16rem * 7 / 5);
  }
}
